<!DOCTYPE html>
<html lang="en" ng-app="LoginApp">
<head>
    <meta charset="UTF-8">
    <title>FSF Day 6 </title>
    <!--Stylesheets-->
    <link rel="stylesheet"  type="text/css" href="/libs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/libs/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/stylesheet.css">
    <!--Jquery Scripts-->
    <script src="/libs/jquery/dist/jquery.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/libs/angular/angular.js"></script>

    <!--Load app-->
    <script src="/index.js"></script>

</head>
<body ng-controller="LoginCtrl as loginCtrl">
    <h2>  Login Form </h2>
     <form name="loginForm" novalidate ng-submit="loginCtrl.performLogin()">

         <table>
                <tr> 
                    <td>Username:</td>  
                    <td>
                         <input type="text" id="username"  size="50" 
                            required placeholder="Please enter username"
                            ng-model="loginCtrl.username">
                    </td>    
                </tr>

                 <tr> 
                     <td>Password:</td> 
                    <td> 
                        <input type="password" id="password" size="50" 
                        required placeholder="Please enter password"
                        ng-model="loginCtrl.password">
                    </td>    
                </tr>
             
              <tr>  
                  <td></td>
                <td> 
                   <button type="submit" id="loginBtn"
                    ng-disabled="loginForm.$invalid">Login</button>
                </td>    
                 </tr>
             
         </table>
         <h4>  {{loginCtrl.status}} </h4>

     </form>
</body> 
</html>